<h1>Music Toy</h1>

<button type="button" class="button tiny round tempo" id="slow">Slow</button>
<button type="button" class="button tiny round tempo" id="slower">Slower</button>
<button type="button" class="button tiny round tempo" id="medium">Medium</button>
<button type="button" class="button tiny round tempo" id="faster">Faster</button>
<button type="button" class="button tiny round tempo" id="fast">Fastest</button>
<br>

<button type="button" class="button tiny round chord" id="c-chord">C chord</button>
<button type="button" class="button tiny round chord" id="f-chord">F chord</button>
