<h1>Music Toy</h1>

<button type="button" class="button tiny round" id="slow">Slow</button>
<button type="button" class="button tiny round" id="slower">Slower</button>
<button type="button" class="button tiny round" id="medium">Medium</button>
<button type="button" class="button tiny round" id="faster">Faster</button>
<button type="button" class="button tiny round" id="fast">Fastest</button>
